:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    font-size: 0px;
    background: #112e42;
    overflow: hidden;
}

.paris {
    display: block;
    position: relative;
    height: 24px;
    margin: 100px 0 0 312px;
    color: #00abf0;
    font-family: Lobster, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}

.flex-row-be {
    position: relative;
    width: 1371px;
    height: 533px;
    margin: -3px 0 0 51px;
    z-index: 7;
}

.lutetia-roman-city {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 668px;
    height: 95px;
    top: 0;
    left: 703px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    z-index: 3;
}

.apple-watch-mm {
    position: absolute;
    width: 654px;
    height: 442px;
    top: 59px;
    left: 0;
    background: #ffffff;
    overflow: hidden;
    border-radius: 30px;
}

.paris-1 {
    position: absolute;
    width: 1042px;
    height: 593px;
    top: 0;
    left: -238px;
    background: url(paris.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
}

.duration-days {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 120px;
    left: 703px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
}

.location {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 387px;
    height: 191px;
    top: 166px;
    left: 703px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    z-index: 5;
}

.minimum-age {
    position: absolute;
    width: 645px;
    height: 72px;
    top: 379px;
    left: 703px;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    z-index: 6;
}

.cancellation-policy {
    position: relative;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.empty {
    position: relative;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration: underline;
}

.rectangle {
    position: absolute;
    width: 225px;
    height: 50px;
    top: 483px;
    left: 913px;
    cursor: pointer;
    background: #00abf0;
    border: 1px solid #00abf0;
    z-index: 7;
    border-radius: 30px;
}

.book-now {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 12px;
    left: 66px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}

.flex-row-fe {
    position: relative;
    width: 1391.813px;
    height: 340px;
    margin: 34px 0 0 52px;
    z-index: 21;
}

.schedule {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 0;
    left: 427px;
    background: url(icons8-calender-64.png) no-repeat center;
    background-size: contain;
    z-index: 18;
}

.time-machine {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 1px;
    left: 0;
    background: url(icons8-time-50.png) no-repeat center;
    background-size: contain;
    z-index: 14;
}

.bookings-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 377px;
    height: 217px;
    top: 1px;
    left: 42px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    z-index: 12;
}

.weekend-tours {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 239px;
    height: 202px;
    top: 1px;
    left: 463px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    z-index: 13;
}

.travel-agent-logo {
    position: absolute;
    width: 397.813px;
    height: 313px;
    top: 27px;
    left: 994px;
    background: url(./assets/images/673743a3b0ca9cc967b1cb35ec179a47ef673aa1.png) no-repeat center;
    background-size: cover;
    z-index: 9;
}

.users {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 48px;
    left: 0;
    background: url(icons8-people-50.png) no-repeat center;
    background-size: contain;
    z-index: 15;
}

.bus {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 48px;
    left: 427px;
    background: url(icons8-bus-50.png) no-repeat center;
    background-size: contain;
    z-index: 19;
}

.camera {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 96px;
    left: 0;
    background: url(icons8-camera-50.png) no-repeat center;
    background-size: contain;
    z-index: 16;
}

.boy {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 96px;
    left: 427px;
    background: url(icons8-standing-man-50.png) no-repeat center;
    background-size: contain;
    z-index: 20;
}

.car {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 144px;
    left: 0;
    background: url(icons8-car-50.png) no-repeat center;
    background-size: contain;
    z-index: 17;
}

.cutlery {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 144px;
    left: 427px;
    background: url(icons8-spoon-50.png) no-repeat center;
    background-size: contain;
    z-index: 21;
}

.copyright-reserved {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 523px;
    height: 16px;
    top: 303px;
    left: 0;
    color: #ffffff;
    font-family: Roboto Flex, var(--default-font-family);
    font-size: 24px;
    font-weight: 100;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1.2px;
    z-index: 10;
}